* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  max-width: 100%;    
  overflow-x: hidden; 
}
  


input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; 
  appearance: none;
}

body {
  font-family: 'Roboto', sans-serif;
}
